.header-portfolio {
  border-bottom: 1px solid $light-accent;
}
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters-btn {
  @include font(500, 16px, 1.62, 0.03em);

  color: $secondary-title;
  background-color: $light-btn;

  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 6px 22px;
  margin-bottom: 50px;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: $light-theme;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-name {
  @include font(700, 18px, 2, 0.06em);

  color: $secondary-title;

  margin-bottom: 4px;
}

.filter-item {
  @include font(400, 16px, 1.87, 0.03em);

  color: $secondary-text;
}

.filters-list-btn {
  display: flex;
  justify-content: center;
}

.container .projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-item {
  .projects-list & {
    min-width: 370px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: $light-theme;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.link-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-card-overly {
  position: relative;
  overflow: hidden;
}

.projects-list-description {
  position: absolute;
  top: 0;

  font-family: $main-font;
  @include font(400, 18px, 1.56, 0.03em);

  color: $light-theme;

  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .link-card:hover &,
  .link-card:focus & {
    transform: translateY(0);
  }
}

.projects-name-decor {
  border-bottom: 1px solid $light-accent;
  border-left: 1px solid $light-accent;
  border-right: 1px solid $light-accent;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
