.logo {
  font-family: $secondary-font;
  @include font(700, 26px, 1.19, 0.03em);

  color: $primary;
}

.logo-accent {
  color: $accent-color;
}

/*logo footer*/

.logo-footer {
  font-family: $secondary-font;
  @include font(700, 26px, 1.19, 0.03em);
  color: $primary;

  margin-bottom: 20px;
  display: inline-block;
}

.logo-alt {
  color: $light-theme;
}
