.logo {
  font-family: $secondary-font;
  @include font(700, 24px, 1.167, 0.03em);

  color: $primary;
}

.logo-accent {
  color: $accent-color;
}

/*logo footer*/

.logo-footer {
  font-family: $secondary-font;
  @include font(700, 24px, 1.167, 0.03em);
  color: $primary;

  margin-bottom: 20px;
  display: inline-block;
}

.logo-alt {
  color: $light-theme;
}
// @media screen and (min-width: 480px) and (max-width: 767px) {
//   .nav {
//     padding-top: 16px;
//     padding-bottom: 16px;
//   }
// }
@media screen and (min-width: 1600px) {
  .logo-footer,
  .logo {
    @include font(700, 26px, 1.192, 0.03em);
  }
}
