$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-color: #2196f3;
$primary: #000;
$secondary-text: #757575;
$secondary-title: #212121;
$primary-color-icon: #afb1b8;
$light-theme: #fff;
$background-theme: #2f303a;
$light-accent: #ececec;
$light-btn: #f5f4f4;
